.cart-wrapper {
    height: 450px;
}

.cart-items {
    height: 300px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.order-actions {
    text-align: right;
}

.order-btn {
    cursor: pointer;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin: 0 1rem;
    background-color: rgba(0, 0, 0, 0.75);
    color: #fff;
    border-radius: 10px;
}

.order-btn:hover {
    background-color: #000;
}

.btn--alt {
    background-color: #fff;
    color: #000;
}

.btn--alt:hover {
    background-color: #fff;
}

@media only screen and (max-width: 400px) {
    .total-price h1 {
        display: flex;
        flex-wrap: wrap;
    }
}